Implement Azure App Service web apps/AppService_AppConfiguration/bin/
Implement Azure App Service web apps/AppService_AppConfiguration/obj/
Implement Azure App Service web apps/AppService_AppConfiguration/.vs/

Implement Azure App Service web apps/AppService_KeyVault/bin/
Implement Azure App Service web apps/AppService_KeyVault/obj/
Implement Azure App Service web apps/AppService_KeyVault/.vs/
