<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/16eb6275-06bb-4e10-8185-40c2f2c5338b/resourceGroups/AZ204/providers/Microsoft.Web/sites/randomthingss</ResourceId>
    <IsLinux>True</IsLinux>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://randomthingss.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>d3545fd5-db48-4362-bcea-daaf176b1a34</ProjectGuid>
    <PublishUrl>https://randomthingss.scm.azurewebsites.net/</PublishUrl>
    <UserName>$randomthingss</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>